/*-------------- design-list -----------------*/
.design-list{
	&,
	li{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li{
		padding-left: 45px;
		position: relative;

		&::before{
			content: '';
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 22px;
			height: 16px;
			background: url(../img/check.svg) no-repeat center;
			background-size: contain;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		&:not(:last-child){margin-bottom: 50px;}
	}
}

@media (max-width: 767px) {
	.design-list{
		li{
			background: #F2F2F2;
			padding: 17px 55px 23px 72px;
			border-radius: 10px;

			&::before{left: 25px;}
			&:not(:last-child){margin-bottom: 10px;}
		}
	}
}