/*-------------- results -----------------*/
.results{
	display: flex;
	flex-wrap: wrap;
	gap: 96px;
}

.result{
	width: calc(33.33% - 64px);

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 56px;
		height: 56px;
		color: var(--color-primary);
		margin-bottom: 14px;

		.icon{
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__title{
		font-size: 2.1rem;
		font-weight: 600;
		line-height: 1.1;
		color: var(--color-primary);
	}

	&__text{
		font-size: 1.8rem;
		color: #1C1C1C;
		margin-top: 5px;
	}
}

@media (max-width: 991px) {
	.results{gap: 30px;}

	.result{
		width: calc(33.33% - 20px);

		&__text{font-size: 1.6rem;}
	}
}

@media (max-width: 767px) {
	.results-wrap{
		h2, .h2{margin-bottom: 5rem;}
		background: #fff;
		border-radius: 0 0 20px 20px;
		margin-top: 0;
		padding-top: 55px;
	}

	.results{
		gap: 43px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.result{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px 20px;
		width: 100%;

		&__title{
			width: calc(100% - 110px);
			order: 1;
		}

		&__icon{
			flex-shrink: 0;
			order: 2;
			margin: 0;
		}

		&__text{
			order: 3;
			width: 100%;
			font-size: 1.7rem;
			margin: 0;
		}
	}
}