extends tmpl/_layout

block vars
	- var pageId = 'content'

block body
	section.st-width
		p Список всех страниц
		if pages
			ul
				each page in pages
					li
						a(href=page.href, target='_blank')= page.title